<br></br>
<div class="container">

<h1>Post <%= @post.id %>:</h1>

<ul>
<li>Title: <%= @post.name %></li>
<li>Content: <%= @post.content %></li>
</ul>

<a href=<%= "/posts/#{@post.id}/edit" %>>Edit Post <%= @post.id %></a>
<br></br>
<a href="/posts">All Posts</a>

</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
